@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&display=swap");

/* custom css */
:root {
  --primary-color: #222;
  --secondary-color: #fff;

  --body-bg-color: #fefefe;
  --light-gray-bg-color: #eee;

  --l-gray-font-color: #dadcdd;
  --d-gray-font-color: #777;

  --hover-red-color: #fe5578;
  --hover-dark-color: #010101;

  --tr-bg-color-1: rgba(255, 255, 255, 0.25);
  --tr-bg-color-2: rgba(255, 255, 255, 0.1);

  --border-color: #ccc;

  --box-shadow: 0 5px 25px rgba(0, 0, 0, 0.35);

  --mercury-bg: linear-gradient(45deg, #394147, #767f85);
  --mercury-bg: linear-gradient(45deg, #ac1013, #e37b62);
  --mercury-bg: linear-gradient(45deg, #005192, #0ea7eb);
  --mercury-bg: linear-gradient(45deg, #ad1c1f, #e57a35);
  --mercury-bg: linear-gradient(45deg, #ae5f4e, #e28482);
  --mercury-bg: linear-gradient(45deg, #a04b36, #d1977c);
  --mercury-bg: linear-gradient(45deg, #02396f, #0f81ad);
  --mercury-bg: linear-gradient(45deg, #09225a, #4ab5e1);

  --scroll-bar-color: #f1f1f1;
  --scroll-bar-thumb-color: #555;
  --scroll-bar-thumb-hover-color: #444;
}

/* main css */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: var(--body-bg-color);
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header styles */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  z-index: 10;
}

.logo a {
  color: var(--primary-color);
  text-decoration: none;
  user-select: none;
}

.logo .lg-font {
  font-family: Rancho, cursive;
  font-size: 3.9em;
  font-weight: 600;
  margin-right: 3px;
}

.logo .sm-font {
  font-size: 1.7em;
  font-weight: 500;
}

.search-container {
  position: relative;
}

.search-box {
  color: var(--d-gray-font-color);
  background-color: var(--light-gray-bg-color);
  width: 310px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  border-radius: 30px;
}

.search-box i {
  font-size: 1em;
}

.search-box input {
  font-size: 1em;
  background: none;
  border: none;
  outline: none;
  padding-left: 10px;
}

.menu-btn {
  color: var(--primary-color);
  font-size: 1.1em;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s ease;
}

.menu-btn:hover {
  color: var(--hover-dark-color);
}

.menu-btn i {
  margin-left: 5px;
}
