@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rancho&display=swap");

/* custom css */
:root {
  --primary-color: #222;
  --secondary-color: #fff;

  --body-bg-color: #fefefe;
  --light-gray-bg-color: #eee;

  --l-gray-font-color: #dadcdd;
  --d-gray-font-color: #777;

  --hover-red-color: #fe5578;
  --hover-dark-color: #010101;

  --tr-bg-color-1: rgba(255, 255, 255, 0.25);
  --tr-bg-color-2: rgba(255, 255, 255, 0.1);

  --border-color: #ccc;

  --box-shadow: 0 5px 25px rgba(0, 0, 0, 0.35);

  --mercury-bg: linear-gradient(45deg, #394147, #767f85);
  --venus-bg: linear-gradient(45deg, #ac1013, #e37b62);
  --earth-bg: linear-gradient(45deg, #005192, #0ea7eb);
  --mars-bg: linear-gradient(45deg, #ad1c1f, #e57a35);
  --jupiter-bg: linear-gradient(45deg, #ae5f4e, #e28482);
  --saturn-bg: linear-gradient(45deg, #a04b36, #d1977c);
  --uranus-bg: linear-gradient(45deg, #02396f, #0f81ad);
  --neptune-bg: linear-gradient(45deg, #09225a, #4ab5e1);

  --scroll-bar-color: #f1f1f1;
  --scroll-bar-thumb-color: #555;
  --scroll-bar-thumb-hover-color: #444;
}

/* main css */
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  position: relative;
  min-height: 100vh;
  background-color: var(--body-bg-color);
}

.main {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* header styles */
header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px;
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s ease;
  transition-property: transform, opacity;
  z-index: 10;
}

header.hide {
  transform: translateY(-30px);
  opacity: 0;
}

.logo a {
  color: var(--primary-color);
  user-select: none;
}

.logo .lg-font {
  font-family: Rancho, cursive;
  font-size: 3.9em;
  font-weight: 600;
  margin-right: 3px;
}

.logo .sm-font {
  font-size: 1.7em;
  font-weight: 500;
}

.search-container {
  position: relative;
}

.search-box {
  color: var(--d-gray-font-color);
  background-color: var(--light-gray-bg-color);
  width: 310px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 40px;
  border-radius: 30px;
}

.search-box i {
  font-size: 1em;
}

.search-box input {
  font-size: 1em;
  background: none;
  border: none;
  outline: none;
  padding-left: 10px;
}

.menu-btn {
  color: var(--primary-color);
  font-size: 1.1em;
  font-weight: 400;
  cursor: pointer;
  transition: 0.3s ease;
}

.menu-btn:hover {
  color: var(--hover-dark-color);
}

.menu-btn i {
  margin-left: 5px;
}

/* navigation */
.menu-container {
  content-visibility: hidden;
}

.menu-container.active {
  content-visibility: visible;
}

.menu-window {
  position: absolute;
  background-color: var(--tr-bg-color-1);
  backdrop-filter: blur(10px);
  width: 100%;
  height: 100vh;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 0.5s ease;
}

.menu-window.active {
  opacity: 1;
}

.menu-box {
  position: relative;
  background-color: var(--secondary-color);
  box-shadow: var(--box-shadow);
  width: 0;
  height: 0;
  min-height: 0;
  opacity: 0;
  display: grid;
  place-items: center;
  border-radius: 50px;
}

.menu-window.active .menu-box {
  opacity: 1;
  width: 600px;
  height: fit-content;
  min-height: 500px;
  transition: opacity 0.3s, width 0.8s, height 0.8s, min-height 0.8s;
}

.menu-inner {
  content-visibility: hidden;
}

.menu-inner.active {
  content-visibility: visible;
}

.menu-close-btn {
  position: absolute;
  top: -40px;
  right: 50px;
  color: var(--primary-color);
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.3s ease;
}

.menu-close-btn:hover {
  color: var(--hover-red-color);
}

.menu-close-btn i {
  font-size: 1.3em;
}

.menu-close-btn span {
  font-size: 1.1em;
}

.menu-bg-icon {
  position: absolute;
  font-size: 10em;
  opacity: 0.03;
  top: 10px;
  left: 35px;
  transform: rotate(-5deg);
  pointer-events: none;
}

.menu-items {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 40px;
}

.menu-items a {
  color: var(--primary-color);
  font-size: 1.05em;
  font-weight: 400;
  transition: 0.3s ease;
}

.menu-items a:hover {
  color: var(--hover-dark-color);
  transform: scale(1.05);
}

.menu-items a i {
  font-size: 1.3em;
  margin-right: 5px;
}

/* slider styles */
.slider-container {
  position: relative;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 5;
}

.swiper {
  position: relative;
  width: 100%;
  height: 540px;
}

.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: end;
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s ease;
  transition-property: transform, opacity;
  transition-delay: 0.25s;
}

.swiper-slide.hide {
  transform: translateY(30px);
  opacity: 0;
}

.card {
  position: relative;
  width: 325px;
  height: 250px;
  border-radius: 25px;
  box-shadow: var(--box-shadow);
  margin-bottom: 50px;
  user-select: none;
  transition: height 0.5s ease;
}

.swiper-slide-prev .card {
  height: 225px;
}

.swiper-slide-active .card {
  height: 260px;
}

.swiper-slide-next .card {
  height: 295px;
}

.mercury-bg {
  background: var(--mercury-bg);
}

.venus-bg {
  background: var(--venus-bg);
}

.earth-bg {
  background: var(--earth-bg);
}

.mars-bg {
  background: var(--mars-bg);
}

.jupiter-bg {
  background: var(--jupiter-bg);
}

.saturn-bg {
  background: var(--saturn-bg);
}

.uranus-bg {
  background: var(--uranus-bg);
}

.neptune-bg {
  background: var(--neptune-bg);
}

.card-img img {
  position: absolute;
  z-index: 5;
  transition: 0.5s ease;
  transition-delay: 0.1s;
}

.mercury-img {
  width: 180px;
  top: -45px;
  right: 40px;
}

.venus-img {
  width: 200px;
  top: -60px;
  right: 40px;
}

.earth-img {
  width: 225px;
  top: -80px;
  right: 40px;
}

.mars-img {
  width: 240px;
  top: -95px;
  right: 30px;
}

.jupiter-img {
  width: 265px;
  top: -125px;
  right: 20px;
}

.saturn-img {
  width: 350px;
  top: -150px;
  right: -30px;
}

.uranus-img {
  width: 275px;
  top: -105px;
  right: 10px;
}

.neptune-img {
  width: 195px;
  top: -60px;
  right: 45px;
}

.card:hover .mercury-img,
.card:hover .venus-img,
.card:hover .earth-img,
.card:hover .jupiter-img,
.card:hover .neptune-img {
  transform: translateY(-40px) scale(1.1);
}

.card:hover .jupiter-img {
  transform: translateY(-45px) scale(1.05);
}

.card:hover .mars-img,
.card:hover .saturn-img,
.card:hover .uranus-img {
  transform: translateY(-45px) scale(1.1);
}

.card-img .planet-number {
  position: absolute;
  right: 0;
  color: var(--secondary-color);
  font-size: 12em;
  font-weight: 700;
  z-index: 4;
  opacity: 0.1;
}

.card-content {
  position: absolute;
  bottom: 35px;
  left: 30px;
}

.card-content .info {
  transform: translateY(30px);
  transition: transform 0.5s ease;
}

.card:hover .card-content .info {
  transform: translateY(-10px);
}

.card-content .info h2 {
  color: var(--secondary-color);
  font-size: 2.3em;
  font-weight: 600;
  line-height: 50px;
}

.card-content .sub-info {
  display: flex;
  font-size: 1em;
  margin-bottom: 10px;
}

.card-content .sub-info span {
  color: var(--l-gray-font-color);
  font-weight: 300;
  margin-right: 10px;
}

.card-content .sub-info h4 {
  color: var(--secondary-color);
  font-weight: 500;
}

.card-content .read-more-btn {
  transform: translateY(35px);
  opacity: 0;
  transition-property: transform, opacity;
  transition: 0.3s ease-out, 0.5s;
}

.card:hover .card-content .read-more-btn {
  transform: translateY(-10px);
  opacity: 1;
}

.card-content .read-more-btn button {
  color: var(--secondary-color);
  border: none;
  background: none;
  font-size: 0.9em;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  cursor: pointer;
}

.card-content .read-more-btn button i {
  font-size: 1.2em;
  margin-left: 2px;
  transition: 0.3s ease;
}

.card-content .read-more-btn button:hover i {
  margin-left: 5px;
}

/* slider navigation */
.swiper-button-next::after,
.swiper-button-prev::after {
  content: "";
}

.slider-nav {
  position: absolute;
  width: 190px;
  bottom: 65px;
  right: 180px;
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s ease;
  transition-property: transform, opacity;
}

.slider-nav.hide {
  transform: translateY(30px);
  opacity: 0;
}

.swiper-button-next,
.swiper-button-prev {
  color: var(--primary-color);
  font-size: 1.1em;
  font-weight: 400;
  user-select: none;
}

.slider-nav i {
  font-size: 2.1em;
}

/* social media links styles */
.main-media-links {
  position: absolute;
  bottom: 50px;
  left: 100px;
  font-size: 1em;
  font-weight: 500;
  display: flex;
  column-gap: 50px;
  transform: translateY(0);
  opacity: 1;
  transition: 0.5s ease;
  transition-property: transform, opacity;
  z-index: 5;
}

.main-media-links.hide {
  transform: translateY(30px);
  opacity: 0;
}

.main-media-links a {
  color: var(--d-gray-font-color);
  transition: 0.3s ease;
}

.main-media-links a:hover {
  color: var(--hover-dark-color);
}

.main-media-links i {
  font-size: 1.5em;
}

/* modal styles */
.modal-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

.modal-container.active {
  z-index: 10;
}

.modal-box {
  position: absolute;
  width: 0;
  height: 0;
  opacity: 0;
  border-radius: 50px;
  transform: translateY(15px);
  transition: opacity 0.3s, height 0s, width 0s;
  transition-delay: 0s, 1s, 1s;
}

.modal-box.active {
  width: 90%;
  height: 85%;
  opacity: 1;
  transition: opacity 0s, height 0.4s, width 0.4s;
  transition-delay: 0s, 1s, 1s;
}

.modal-content {
  position: relative;
  width: 100%;
  height: 100%;
  opacity: 0;
  content-visibility: hidden;
  transition: opacity 0.25s ease;
  transition-delay: 2s;
}

.modal-box.active .modal-content {
  opacity: 1;
}

.modal-content.active {
  content-visibility: visible;
}

.modal-close-btn {
  position: absolute;
  top: -40px;
  right: 50px;
  color: var(--primary-color);
  font-weight: 400;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.modal-close-btn i {
  font-size: 1.3em;
}

.modal-close-btn span {
  font-size: 1.1em;
}

.modal-inner {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: start;
  height: 100%;
  gap: 35px;
  padding: 0 35px;
}

.modal-bg-title {
  position: absolute;
  top: 50%;
  left: 125px;
  width: 335px;
  color: var(--secondary-color);
  font-size: 5em;
  font-weight: 800;
  opacity: 0.15;
  transform: rotate(-90deg) translateY(-50%);
}

.modal-media-icons {
  position: absolute;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  row-gap: 25px;
}

.modal-media-icons a {
  color: var(--secondary-color);
  font-size: 1.5em;
  transition: 0.5s ease;
}

.modal-media-icons a:hover {
  transform: scale(1.3);
}

.modal-image-area {
  transform: translateY(-35px);
}

.modal-img {
  width: 300px;
}

.modal-text-content {
  position: relative;
  max-height: 70vh;
  overflow: hidden;
  overflow-y: initial !important;
  margin: auto 0;
  padding-right: 15px;
}

.modal-text-content::-webkit-scrollbar {
  background: var(--scroll-bar-color);
  width: 10px;
  border-radius: 50px;
}

.modal-text-content::-webkit-scrollbar-thumb {
  background: var(--scroll-bar-thumb-color);
  border-radius: 50px;
}

.modal-text-content::-webkit-scrollbar-thumb:hover {
  background: var(--scroll-bar-thumb-hover-color);
}

.modal-title {
  color: var(--secondary-color);
  font-size: 3em;
  font-weight: 600;
}

.modal-title-sub {
  display: flex;
  transform: translateY(-6px);
  margin-bottom: 12px;
}

.modal-title-sub span {
  color: var(--l-gray-font-color);
  font-size: 1em;
  font-weight: 300;
  margin-right: 10px;
}

.modal-title-sub h4 {
  color: var(--secondary-color);
  font-size: 1em;
  font-weight: 500;
}

.modal-text-content p {
  color: var(--secondary-color);
  font-size: 1em;
  font-weight: 300;
  max-width: 750px;
}

.modal-see-more {
  color: var(--secondary-color);
  width: 90px;
  display: flex;
  align-items: center;
  background: none;
  border: none;
  cursor: pointer;
}

.modal-see-more span {
  font-size: 0.85em;
  font-weight: 500;
  display: flex;
  align-items: center;
}

.modal-see-more i {
  font-size: 1.3em;
  margin-left: 2px;
  transition: 0.3s ease;
}

.modal-see-more:hover i {
  margin-left: 5px;
}

.planet-facts {
  position: relative;
  display: grid;
  place-items: start;
  grid-template-columns: repeat(3, 1fr);
  row-gap: 15px;
  column-gap: 15px;
  width: fit-content;
  margin: 35px 0;
}

.planet-facts .fact {
  color: var(--secondary-color);
  background-color: var(--tr-bg-color-2);
  width: 200px;
  height: 85px;
  display: flex;
  justify-content: center;
  align-items: start;
  flex-direction: column;
  padding-left: 25px;
  border-radius: 10px;
}

.planet-facts .fact h5 {
  font-size: 1em;
  font-weight: 500;
}

.planet-facts .fact span {
  font-size: 1em;
  font-weight: 300;
}
